<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Productos</title>
</head>
<body>
    <h1>Listado de Productos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Stock</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.nombre}">Nombre Producto</td>
                <td th:text="${producto.stock}">0</td>
                <td th:text="${producto.precio}">0.00</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
